html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    background: url("../images/default/GridBG.png");
}

img {
    border: 0;
}

.error {
    color: red;
    font-size: 14px;
}

.container {
    min-height: 100%;
    margin-bottom: -90px;
}

.empty, #footer {
    height: 90px;
}

#navbar {
    height: 69px;
    width: 1288px;
    margin: 0 auto;
    background: url("../images/default/TopBarBG.png") no-repeat;
}

#navbar .navs {
    float: left;
    margin-left: 22px;
}

#navbar .navs a {
    float: left;
    margin-top: 26px;
    margin-left: 14px;
}

#navbar .navs a.record-btn {
    margin-left: 22px;
}

#navbar .navs a.bbs-btn {
    margin-left: 23px;
}

#navbar .navs a.download-btn {
    margin-left: 63px;
    margin-top: -4px;
}

#navbar .navs a.register-btn {
    margin-left: 3px;
}

#navbar .navs a.login-btn {
    margin-left: -12px;
}

#navbar .logo {
    float: left;
    margin-left: 156px;
    margin-top: 3px;
}

#main {
    clear: both;
}

#footer {
    background: url("../images/default/GridBG.png") #333;
}

#footer .inner {
    height: 90px;
    width: 1228px;
    margin: 0 auto;
}

#footer .inner img {
    height: 90px;
}

#footer .ba {
    float: right;
    color: #fff;
    height: 90px;
    line-height: 90px;
    margin-right: 10px;
    font-size: 18px;
}

.content {
    width: 1288px;
    margin: 0 auto;
}

.map-list-panel {
    position: relative;
    width: 1288px;
    margin: 0 auto;
    height: 150px;
    background: #fff;
}

.map-list-panel .left img {
    position: absolute;
    height: 65px;
    width: 55px;
    left: 0;
    top: 0;
    z-index: 100;
    color: #595959;
    cursor: pointer;
    padding: 43px 18px;
}

.map-list-panel .right img {
    position: absolute;
    height: 65px;
    width: 55px;
    right: 0;
    top: 0;
    z-index: 100;
    color: #595959;
    cursor: pointer;
    padding: 43px 18px;
}

.map-list-panel .left img:hover {
    background: #f5f5f5;
}

.map-list-panel .right img:hover {
    background: #f5f5f5;
}

.map-list-container {
    position: absolute;
    left: 93px;
    top: 0;
    height: 150px;
    right: 93px;
    overflow: hidden;
}

.map-list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.map-list li {
    position: absolute;
    top: 0;
}

.map-list li a img {
    height: 142px;
    width: 168px;
    border: 1px solid #999;
}

.map-list li.active a img {
    height: 140px;
    width: 166px;
    border: 2px solid #f00;
}

.record-table-panel {
    width: 1288px;
    margin: 0 auto;
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hidden {
    display: none;
}

.record-table {
    width: 1248px;
    margin: 0 auto;
    border-collapse: collapse;
}

.record-table thead {
    background: #e4f6ff;
    height: 50px;
    line-height: 50px;
}

.record-table thead tr th {
    color: #0063ca;
    padding: 10px 8px;
}

.record-table tbody tr td {
    height: 57px;
    line-height: 57px;
}

.record-table tbody tr td.empty {
    text-align: center;
    padding: 20px;
}

.record-table tbody > tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.record-table tbody > tr:hover {
    background-color: #f5f5f5;
}

.breadcrumbs {
    display: block;
    height: 30px;
    background: #fff;
    border-radius: 5px;
}

.breadcrumbs span {
    float: left;
    font-size: 14px;
    color: #595959;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-left: 4px;
}

.breadcrumbs li {
    float: left;
    font-size: 14px;
    color: #595959;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    max-width: 500px;
    margin-left: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.breadcrumbs li + li:before {
    content: '>';
    color: #999;
    margin: 0 3px 0 2px;
}

.breadcrumbs li:last-child {
    color: #595959;
}

.breadcrumbs li a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #428bca;
    font-size: 14px;
    text-decoration: none;
}

.pagination {
    float: right;
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
    height: 45px;
    line-height: 45px;
    text-align: right;
}

.pagination li {
    float: left;
}

.pagination li a {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    width: 34px;
    border: 1px solid #ddd;
    color: #595959;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
}

.pagination li a:hover {
    text-decoration: none;
    background: #f5f5f5;
}

.pagination li.active a {
    border: 0;
    cursor: default;
}

.pagination li.active a:hover {
    background: #fff;
}


.back-top {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 10;
    width: 45px;
    height: 40px;
    cursor: pointer;

    background: rgba(0, 0, 0, 0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99000000, endcolorstr=#99000000);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: all .2s ease-in-out;
}

.back-top:hover {
    background: rgba(0, 0, 0, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#b2000000, endcolorstr=#b2000000);
}

.back-top i {
    color: #fff;
    font-size: 24px;
    margin-left: 3px;
    padding: 8px 12px;
}

.border {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-car-form {
    margin-right: 10px;
    width: 300px;
    float: right;
}